@use '../../../styles/variables' as *;

.marker {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: $current-time-marker;
  z-index: 3;
  box-shadow: 0 0 0 1px $shadow-marker;
  pointer-events: none;
}
